{% load i18n %}
<div class="card" x-data="{ selectedTab: 'visual' }">
  <div  role="tablist" class="card-header tabs tabs-border">
      <input type="radio" name="test-tab" class="tab" aria-label="{% translate 'Visual' %}"
             x-on:click="selectedTab = 'visual'"
             x-bind:checked="selectedTab === 'visual'"/>
      <input type="radio" name="test-tab" class="tab" aria-label="{% translate 'Logs' %}"
             x-on:click="selectedTab = 'logs'"
             x-bind:checked="selectedTab === 'logs'"/>
  </div>
  <div class="card-body">
    <div role="tabpanel" aria-labelledby="home-tab"
         tabindex="0" x-cloak x-show="selectedTab === 'visual'">
      {% if not groups %}
        {% translate 'Run a test to see...' %}
      {% else %}
        {% if not groups.modify and not groups.create and not groups.reject and not errors %}
          <div class="alert alert-info" role="alert">
            {% translate "Trigger did not match: this rule would be skipped" %}
          </div>
        {% endif %}

        {% if groups.modify %}
          <h6 class="mt-2"><span class="badge badge-primary">{% translate 'Will modify' %}</span></h6>
          {% for item in groups.modify %}
            <div class="my-2 border rounded p-2 small">
              <div class="mb-1">
                {% translate 'Set' %} <span class="badge badge-secondary">{{ item.field }}</span>
                {% translate 'to' %} <span class="badge badge-secondary">{{ item.new }}</span>
              </div>
              {% include 'rules/fragments/transaction_rule/dry_run/transaction_snapshot.html' with snap=item.after %}
            </div>
          {% endfor %}
        {% endif %}

        {% if groups.create %}
          <h6 class="mt-3"><span class="badge badge-success">{% translate 'Will create' %}</span></h6>
          {% for item in groups.create %}
            <div class="my-2 border rounded p-2 small">
              {% include 'rules/fragments/transaction_rule/dry_run/transaction_snapshot.html' with snap=item.after %}
            </div>
          {% endfor %}
        {% endif %}

        {% if groups.reject %}
          <h6 class="mt-3"><span class="badge badge-danger">{% translate 'Rejected' %}</span></h6>
          {% for item in groups.reject %}
            <div class="alert alert-warning" role="alert">
              {% translate 'Action rejected' %} ({{ item.action_type }}#{{ item.action_ref }}): {{ item.reason }}
            </div>
          {% endfor %}
        {% endif %}

        {% if errors %}
          {% for item in errors %}
            <div class="alert alert-error" role="alert">
              {% translate 'Action error' %} ({{ item.action_type }}#{{ item.action_ref }}): {{ item.error }}
            </div>
          {% endfor %}
        {% endif %}

        {% if can_commit %}
          <div id="dry-run-commit-result"></div>
          <form hx-post="{% url 'transaction_rule_commit' pk=rule.id %}"
                hx-target="#dry-run-commit-result"
                class="mt-3 show-loading" novalidate>
            <input type="hidden" name="token" value="{{ token }}">
            <input type="hidden" name="event" value="{{ event }}">
            <input type="hidden" name="rule_version" value="{{ rule_version }}">
            <input type="hidden" name="transaction_ref" value="{{ transaction_ref }}">
            <input type="hidden" name="transaction_version" value="{{ transaction_version }}">
            <input type="hidden" name="fingerprints" value='{{ fingerprints_json|safe }}'>
            <input type="hidden" name="input_patch" value='{{ input_patch_json|safe }}'>
            <button type="submit" class="btn btn-success">
              {% translate 'Apply / Commit' %}
            </button>
          </form>
        {% endif %}
      {% endif %}
    </div>
    <div role="tabpanel" aria-labelledby="logs-tab" tabindex="0"
         x-cloak x-show="selectedTab === 'logs'">
      {% if not logs %}
        {% translate 'Run a test to see...' %}
      {% else %}
        <pre class="overflow-x-auto">
          {{ logs|linebreaks }}
        </pre>
      {% endif %}
    </div>
  </div>
</div>
